{% extends "base.html" %}

{% block title %}
Form page
{% endblock %}

{% block content %}

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Formulário de compra e venda</h1>
        <p>Especifique aqui os dados da transação.</p>
    </div>    
</div>

<form action = "" method = "post" id="main-form">
    <div class="form-group">
        <label style="color:red;">*</label><label>Comprador:</label>
        <select class="form-control" id="field_comprador" name="comprador">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Renato Maddalena</option>
            <option>Edmilson Andrade</option>
            <option>Roberto Nantes</option>
            <option>Outro (especificar abaixo)</option>
        </select>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Tipo da transação:</label>
        <select class="form-control" id="field_tipo_transacao" name="tipo_transacao">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Compra</option>
            <option>Venda</option>
        </select>
    </div>
    <br><br>
    <div class="form-group">
        <label style="color:red;">*</label><label>Tipo de pneu:</label>
        <select class="form-control" id="field_tipo_pneu" name="tipo_pneu">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Passeio A</option>
            <option>Passeio B</option>
            <option>Caminhonete</option>
            <option>Caminhão</option>
            <option>Carcaça</option>
        </select>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Quantidade:</label>
        <p><input class="form-control" id="field_quantidade" type="number" name="quantidade" min="1" /></p>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Preco unitário:</label>
        <p><input class="form-control" id="field_preco_unitario" type="number" name="preco_unitario" min="0" step="0.01" /></p>
    </div>
    <br><br>
    <div class="form-group">
        <label style="color:red;">*</label><label>Data:</label>
        <p><input class="form-control" id="field_data" type="date" name="data" /></p>
    </div>
    <div class="form-group">
        <label>Observacoes:</label>
        <p><input class="form-control" id="field_observacoes" type="text" name="observacoes" min="1" /></p>
    </div>

    <script src="../static/js/submit_button.js"> </script>

    <script>
        
        // retreiving all query string parameters
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        
        const isEmpty = Object.keys(params).length === 0;
        
        if (! isEmpty) {

            alert("Modifique os campos necessários.")

            // setting all the selects to the values passed by query string (if any)
            for (const [key, value] of Object.entries(params)) {
                
                let form_field = document.getElementById(key);
                if (form_field) {
                    form_field.value = value;
                    form_field.style = "color:red;";
                }
            }

        }
       
    </script>

</form>

{% endblock %}