{% extends "base.html" %}

{% block title %}
Pre history page
{% endblock %}

{% block content %}

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Histórico de compra e venda</h1>
        <p>Especifique aqui o numéro de itens a serem listados.</p>
    </div>
</div>

<form action="" method="post">
    <div class="form-group">
        <label style="color:red;">*</label><label>Numéro de transações a serem carregadas::</label>
        <select class="form-control" id="exampleFormControlSelect1" name="num-trans">
            <option value="1">1 item</option>
            <option value="10">10 itens</option>
            <option value="50">50 itens</option>
        </select>
    </div>

    <p><button type="submit" class="form-control">Submeter!</button></p>
</form>


<!-- <script type="module" src="../static/js/card.js"> -->
    <!-- To be used in the furute -->
    
<script src="../static/js/cards.js"> </script>
<script>

    var data = JSON.parse('{{ data | tojson | safe }}');

    if( data ) {
        trans = data.transacoes;

        if (trans.length == 0) {
            alert("No transactions to display!");
        }
        
        console.table(trans);
        printTransactions(trans)
    }

</script>

{% endblock %}