{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container" style="margin:1em">
    <!-- <p class="text-center">Bem vindo ao sistema de controle de estoque da Minha Empresa! 📊</p> -->
    <h4 style="text-align:center">Bem vindo ao sistema de controle de estoque da Minha Empresa! 📊</h1>
</div>

<div class="container">
    <img src="./static/img/pneus.jpg" alt="pneus" class="rounded mx-auto d-block">
</div>

<div class="container">
    <p> 
        Desenvolvedor: Emilio T. Maddalena. <br>
        Data: abril de 2022. <br>
    </p>
</div>

<!-- <form action="#" method="post"> 
    <button class="button"> Click on me! </button>
</form> -->

{% endblock %}