{% extends "base.html" %}

{% block title %}
Form page
{% endblock %}

{% block content %}

<script src="../static/js/submit_button.js"> </script>
<script src="../static/js/form.js"> </script>
<script src="../static/js/checks.js"> </script>

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Formulário de compra e venda</h1>
        <p>Especifique aqui os dados da transação.</p>
    </div>    
</div>

<form action="./form" method="post" id="main-form">
    <div class="form-group">
        <label style="color:red;">*</label><label>Comprador:</label>
        <select class="form-control" id="field_comprador" name="comprador">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Paulo Pereira</option>
            <option>Marcelo</option>
            <option>Gilmar Rios</option>
            <option>Tiago Farias</option>
            <option>Jhony</option>
            <option>-- Nenhum: Ajuste de estoque --</option>
        </select>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Tipo da transação:</label>
        <select class="form-control" id="field_tipo_transacao" name="tipo_transacao">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Compra</option>
            <option>Venda</option>
            <option>Recusa</option>
        </select>
    </div>
    <br><br>

    <div class="form-group" id="items">
        <label style="color:red;">*</label><label>Tipo de pneu:</label>
        <select class="form-control" id="field_tipo_pneu" name="tipo_pneu">
            <option style="display:none"> -- Selecionar -- </option>
            <option>Remolde Aro 13</option>
            <option>Remolde Aro 14</option>
            <option>Remolde Aro 15</option>
            <option>Remolde Aro 16</option>
            <option>Remolde Aro 17</option>
            <option>Remolde Camioneta</option>
            <option>Remolde Caminhão</option>
            <option>Diferenciado remolde tipo A</option>
            <option>Diferenciado remolde tipo B</option>
            <option>Diferenciado remolde tipo C</option>
            <option>Meia vida Aro 13</option>
            <option>Meia vida Aro 14</option>
            <option>Meia vida Aro 15</option>
            <option>Meia vida Aro 16</option>
            <option>Meia vida Aro 17</option>
            <option>Meia vida Camioneta</option>
            <option>Meia vida Caminhão</option>
            <option>Pra conserto Aro 13</option>
            <option>Pra conserto Aro 14</option>
            <option>Pra conserto Aro 15</option>
            <option>Pra conserto Aro 16</option>
            <option>Pra conserto Aro 17</option>
            <option>Pra conserto Camioneta</option>
            <option>Pra conserto Caminhão</option>
        </select>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Quantidade:</label>
        <p><input class="form-control" id="field_quantidade" type="number" name="quantidade" min="1" /></p>
    </div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Preco unitário:</label>
        <p><input class="form-control" id="field_preco_unitario" type="number" name="preco_unitario" min="0" step="0.01" /></p>
    </div>

    <br><br>
    <div class="form-group">
        <label style="color:red;">*</label><label>Data:</label>
        <p><input class="form-control" id="field_data" type="date" name="data" /></p>
    </div>
    <div class="form-group">
        <label>Observacoes:</label>
        <p><input class="form-control" id="field_observacoes" type="text" name="observacoes" min="1" /></p>
    </div>
    <div class="form-group">
        <p><input class="form-control" id="field_ID" type="text" name="id"/></p>
    </div>

    <script>
        createSubmitButton()

        document.getElementById("submit-button").onclick = function() {

           if ( checkTime(field_id="field_data") ) {
               document.getElementById("main-form").submit();
           }

        }
    </script>

    <script>
        let field_id = document.getElementById("field_ID");
        field_id.style.display = "none";
        
        // retreiving all query string parameters, if any
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        
        const isEmpty = Object.keys(params).length === 0;
        
        if (! isEmpty) {

            alert("Modifique os campos necessários.")

            // setting all the selects to the values passed by query string (if any)
            for (const [key, value] of Object.entries(params)) {

                let form_field = document.getElementById(key);
                if (form_field) {
                    form_field.value = value;
                    form_field.style.color = "red";
                }
            }

        }
    </script>

</form>

{% endblock %}