{% extends "base.html" %}

{% block title %}
Pre history page
{% endblock %}

{% block content %}

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Histórico de compra e venda</h1>
        <p>Especifique aqui o numéro de itens a serem listados.</p>
    </div>
</div>

<!-- <form action="" method="post" id="qnt-form"> -->
<div>
    <div class="form-group">
        <label style="color:red;">*</label><label>Número de transações a serem visualizadas:</label>
        <select class="form-control" id="qnt-select" name="num-trans">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
        </select>
    </div>

    <p><button type="submit" class="form-control" id="submit-qnt">Submeter!</button></p>
    <script>
        document.getElementById("submit-qnt").onclick = function() {

        //window.location.href="./";

        // fetch('/history?' + new URLSearchParams({
        //     page: 0,
        //     batch_size: document.getElementById("qnt-select").value
        // }), 
        // { method: 'POST', mode: "no-cors"}).then(window.location.reload());


        window.location = '/history?' + 
        new URLSearchParams({
            page: 0,
            batch_size: document.getElementById("qnt-select").value
        });

        // fetch('./', { method: 'GET' })
        // .then(window.location.reload())
        // .catch(err => {alert("Couldn't get the history :(")});

        }
    </script>
</div>
    
<script src="../static/js/cards.js"> </script>
<script src="../static/js/tools.js"> </script>
<script>

    var data = JSON.parse('{{ data | tojson | safe }}');

    if( data ) {

        console.log("history: There are transactions to display!")

        trans = data.transacoes;
        if (trans.length == 0) {
            alert("No transactions to display!");
        }

        
        let prev_button = createNewElement("button", {
            "id": "prev-button",
            "type": "submit",
            "className": "form-control",
            "innerText": "<< Anteriores",
            "style": `width: 200;`
        });

        let next_button = createNewElement("button", {
            "id": "next-button",
            "type": "submit",
            "className": "form-control",
            "innerText": "Próximas >>",
            "style": `width: 200;`
        });

        let div = createNewElement("div", {
            "className": "d-flex justify-content-between",
        });
        div.style.marginTop = 50;
        div.style.marginBottom = 10;
        
        div.append(prev_button, next_button)
        document.getElementById("main-div").appendChild(div);


        console.table(trans);
        printTransactions(trans)
    }

</script>

{% endblock %}