{% extends "base.html" %}

{% block title %}
Pre history page
{% endblock %}

{% block content %}

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Histórico de compra e venda</h1>
        <p>Especifique aqui o numéro de itens a serem listados.</p>
    </div>
</div>

<!-- <form action="" method="post" id="qnt-form"> -->
<div id="upper-menu-div">
    <div class="form-group">
        <label style="color:red;">*</label><label>Número de transações a serem visualizadas:</label>
        <select class="form-control" id="qnt-select" name="num-trans">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
        </select>
    </div>

    <p><button type="submit" class="form-control" id="submit-qnt">Submeter!</button></p>
    <script>
        document.getElementById("submit-qnt").onclick = function() {
        
        window.location = '/history?' + 
        new URLSearchParams({
            page: 0,
            batch_size: document.getElementById("qnt-select").value
        });

        }

    </script>
</div>
    
<script src="../static/js/cards.js"> </script>
<script src="../static/js/tools.js"> </script>
<script>

    let params = (new URL(document.location)).searchParams;

    if ( params.has("page") && params.has("batch_size") ) {
        document.getElementById("qnt-select").value = parseInt(params.get("batch_size"));
    }

    var data = JSON.parse('{{ data | tojson | safe }}');

    if( data ) {

        console.log("history: There are transactions to display!")

        trans = data.transacoes;
        if (trans.length == 0) {
            alert("No transactions to display!");
        }

        console.table(trans);
        printTransactions(trans);
    }

    // Check if page and batch_size are defined
    if ( params.has("page") && params.has("batch_size") ) {
        
        let prev_button = createNewElement("button", {
            "id": "prev-button",
            "type": "submit",
            "className": "form-control",
            "innerText": "<< Anteriores",
            "style": `width: 200;`
        });

        let next_button = createNewElement("button", {
            "id": "next-button",
            "type": "submit",
            "className": "form-control",
            "innerText": "Próximas >>",
            "style": `width: 200;`
        });

        let div = createNewElement("div", {
            "className": "d-flex justify-content-between",
        });
        div.style.marginTop = 50;
        div.style.marginBottom = 10;
        
        div.append(prev_button, next_button);
        document.getElementById("upper-menu-div").appendChild(div);
        
        document.getElementById("prev-button").onclick = function() {

            // Reverse page
            let params = (new URL(document.location)).searchParams;

            if ( params.has("page") ) {
                var current_page = parseInt(params.get('page'));
                if ( current_page > 0 ) { var next_page = current_page - 1; }
                else { var next_page = 0; }
            } else { 
                var next_page = 0;
            }

            window.location = '/history?' + 
            new URLSearchParams({
                page: next_page,
                batch_size: document.getElementById("qnt-select").value
            });

        }

        document.getElementById("next-button").onclick = function() {

            // Advance page
            let params = (new URL(document.location)).searchParams;

            if ( params.has("page") ) {
                var current_page = parseInt(params.get('page'));
                var next_page = current_page + 1;
            } else { 
                var next_page = 0;
            }

            window.location = '/history?' + 
            new URLSearchParams({
                page: next_page,
                batch_size: document.getElementById("qnt-select").value
            });

        }

    }

</script>

{% endblock %}