{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container" style="margin:1em">
    <h5 style="text-align:center">Bem vindo ao sistema de controle de estoque da Minha Empresa! </h5>
</div>

<div class="container">
    <img src="./static/img/pic2.jpeg" style="width: 40vw; height: auto;" alt="pneus" class="rounded mx-auto d-block">
    <br>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h8> Desenvolvedor: Emilio T. Maddalena - 2022. </h8>
</nav>

<!-- <form action="#" method="post"> 
    <button class="button"> Click on me! </button>
</form> -->

{% endblock %}