{% extends "base.html" %}

{% block title %}
Pre history page
{% endblock %}

{% block content %}

<!-- the action attribute defines the address to which the user will be
     redirected to after submitting the form. If "#", then to the same page. -->

<div class="jumbotron" style="display:flex; align-items: center;">
    <div>
        <h1>Relatório</h1>
        <p>Principais informações a respeito do inventário.</p>
    </div>
</div>

<div>
    <button type="button" class="btn btn-outline-primary">Relatório mensal</button>
    <button type="button" class="btn btn-outline-primary">Relatório anual</button>
    <button type="button" class="btn btn-outline-primary">Relatório total</button>
</div>

<br>

<!-- <form action="" method="post" id="qnt-form"> -->
<div id="upper-menu-div">
    <div class="form-group">
        <label style="color:red;">*</label><label>Ano da análise:</label>
        <select class="form-control" id="year-select" name="year-select">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>
    </div>
    <div>
        <label style="color:red;">*</label><label>Mês da análise:</label>
        <select class="form-control" id="month-select" name="month-select">
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
    </div>
    <br>
    <div>
        <p><button type="submit" class="form-control" id="submit-date">Submeter!</button></p>
        <script>
            document.getElementById("submit-date").onclick = function() {
            window.location = '/report?' + 
            new URLSearchParams({
                year: parseInt(document.getElementById("year-select").value),
                month: parseInt(document.getElementById("month-select").value)
            });
            }
        </script>
    </div>
</div>

<br>

<div id="report-div">
    <div class="row">
        <div class="col-sm-6">
          <div class="card text-primary">
            <div class="card-body">
              <h5 class="card-title">TOTAL VENDAS:</h5>
              <h2 class="card-text" id="tot-vendas"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-danger">
            <div class="card-body">
              <h5 class="card-title">TOTAL COMPRAS:</h5>
              <h2 class="card-text" id="tot-compras"></p>
            </div>
          </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">NÚMERO DE VENDAS:</h5>
              <h2 class="card-text" id="num-vendas"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">NÚMERO DE COMPRAS:</h5>
              <h2 class="card-text" id="num-compras"></p>
            </div>
          </div>
        </div>
    </div>

</div>

<script>
    // Extract params from querystring and fill boxes with them

    let params = (new URL(document.location)).searchParams;

    if ( params.has("year") && params.has("month") ) {
        document.getElementById("month-select").value = parseInt(params.get("month"));
        document.getElementById("year-select").value = parseInt(params.get("year"));
    }

</script>


<script>

    function format_money_string(quantity){

        // Transform an int e.g. 98102 into the string R$ 98.102

        let quantity_string = quantity.toString();
        let quotient = Math.floor(quantity_string.length/3);
        var out_string = '';

        console.log("QUANTITY:")
        console.log(quantity_string)
        console.log("CEIL:")
        console.log(quotient)

        for ( let i=0; i<quotient; i++ ) {
            out_string = "." + quantity_string.slice(quantity_string.length-(i*3)-3, quantity_string.length-(i*3)) + out_string;
        }
        if ( quantity_string.length % 3 == 0 ) { out_string = out_string.slice(1) }
        out_string = "R$ " + quantity_string.slice(0,quantity_string.length-quotient*3) + out_string;

        return out_string;
    }

    var report = JSON.parse('{{ data | tojson | safe }}');

    if ( ! report ) { 

        var report_div = document.getElementById("report-div");
        report_div.style.display = "none";

    } else {

        document.getElementById("tot-vendas").innerText = format_money_string(report.valor_vendas);
        document.getElementById("tot-compras").innerText = format_money_string(report.valor_compras);

        document.getElementById("num-vendas").innerText = report.num_vendas;
        document.getElementById("num-compras").innerText = report.num_compras;

    }
    
</script>

{% endblock %}